@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');


.headerContainer{
    background-image: url("./img/headerBackground.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 980px;
    padding: 16px 370px 82px 370px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1180px;
    height: 72px;
}

.headerLogo{
    width: 137px;
    height: 72px;
}

.headerButtonsContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 831px;
    height: 44px;
}

.scrollButtonsContainer{
    display: flex;
    justify-content: space-between;
    width: 625px;
    height: 25px;
}

.scrollButton{
    font-family: "Nunito Sans", serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 24.55px;
    text-align: left;
    color: #FDFDFD;
}

.consultButton{
    font-family: "Nunito Sans", serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    background-color: #1A3E3E;
    color: #FDFDFD;
    padding: 12px 24px;
    border-radius: 4px;
}

.searchProgramContainer{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 352px;
    width: 1180px;
}

.searchProgramDescription{
    font-family: "Nunito Sans", serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 75px;
    text-align: left;
    color: #FDFDFD;
}

.searchButtonsContainer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 1180px;
    height: 161px;
    background: #FFFFFF33;
    border-radius: 10px;
    backdrop-filter: blur(6px);
    padding: 40px 42px;
}
.searchButtonContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 270px;
    height: 81px;
}
.searchButtonDescription{
    font-family: "Nunito Sans", serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #FDFDFD;
}

.searchProgrammButton{
    background-color: #FDFDFD;
    padding: 16px 36px;
    border-radius: 4px;
}


.calendar{
    display: flex;
    

}

.hideClaendar{
    display: none;
}

.calendarVisionButton{
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 16px;
    background-color: none;
    border: 1px solid #E1E3E4;
    border-radius: 8px;
    color: #FDFDFD;
}

.calendarVisionText{
    width: 212px;
    height: 24px;
    font-family: "Nunito Sans", serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.hideCalendarVisionButton{
    display: none;
}

.CalendarLogo{
    height: 18px;
    width: 18px;
}

.aboutTripPage{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 726px;
    width: 1920px;
}

.aboutTripInforamtion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1180px;
    height: 526px;
}

.imgContainer{
    position: relative;
    width: 480px;
    height: 526px;
}

.aboutPictureOne{
    position: absolute;
    background-image: url("./img/aboutFirst.jpg");
    width: 350px;
    height: 400px;
    border-radius: 24px;
}

.aboutPictureTwo{
    position: absolute;
    background-image: url("./img/aboutSecond.jpg");
    z-index: 1; 
    right: 0; 
    bottom: 0;
    width: 350px;
    height: 400px;
    border-radius: 24px;
}

.aboutContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    width: 580px;
    height: 398px;
}

.aboutTitleText{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 580px;
    height: 104px;
}

.headTitle{
    font-family: "Nunito Sans", serif;
    color: #F2BE22;
    font-size: 24px;
    font-weight: 400;
    line-height: 20px;
    width: 222px;
    height: 20px;
}

.subHead{
    font-family: "Nunito Sans", serif;
    color: #18121E;
    font-size: 32px;
    font-weight: 800;
    line-height: 38.4px;
    width: 580px;
    height: 76px;
}

.baseText{
    font-family: "Nunito Sans", serif;
    color: #18121E;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    width: 580px;
    height: 162px;
}

.programmTourButton{
    font-family: "Nunito Sans", serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    background-color: #1A3E3E;
    color: #FDFDFD;
    padding: 16px 36px;
    border-radius: 4px;
    max-width: 200px;
}   

.aboutTripPage{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 726px;
    width: 1920px;
}

.aboutTripInforamtion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1180px;
    height: 526px;
}

.imgContainer{
    position: relative;
    width: 480px;
    height: 526px;
}

.aboutPictureOne{
    position: absolute;
    background-image: url("./img/aboutFirst.jpg");
    z-index: 1;
    width: 350px;
    height: 400px;
    border-radius: 24px;
}

.aboutPictureTwo{
    position: absolute;
    background-image: url("./img/aboutSecond.jpg");
    z-index: 2; 
    right: 0; 
    bottom: 0;
    width: 350px;
    height: 400px;
    border-radius: 24px;
}

.aboutContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    width: 580px;
    height: 398px;
}

.aboutTitleText{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 580px;
    height: 104px;
}

.headAboutTour{
    font-family: "Nunito Sans", serif;
    color: #F2BE22;
    font-size: 24px;
    font-weight: 400;
    line-height: 20px;
    width: 182px;
    height: 20px;
}

.subHeadSearchMountains{
    font-family: "Nunito Sans", serif;
    color: #18121E;
    font-size: 32px;
    font-weight: 800;
    line-height: 38.4px;
    width: 580px;
    height: 76px;
}

.historyMountainsText{
    font-family: "Nunito Sans", serif;
    color: #18121E;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    width: 580px;
    height: 162px;
}
.programmTourButton{
    font-family: "Nunito Sans", serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    background-color: #1A3E3E;
    color: #FDFDFD;
    padding: 16px 36px;
    border-radius: 4px;
    max-width: 200px;
}   

.bestOfferPage{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1920px;
    height: 771px;
    background-color: #F3F5F4;
}

.bestOfferGroup{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1180px;
    height: 591px;
}

.textBestOfferConatiner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 591px;
    width: 580px;
}

.headerBestOffer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 66px;
    width: 580px;
}

.headOurTour{
    font-family: "Nunito Sans", serif;
    color: #F2BE22;
    font-size: 24px;
    font-weight: 400;
    line-height: 20px;
    width: 222px;
    height: 20px;
}

.subHeadsBestForU{
    font-family: "Nunito Sans", serif;
    color: #18121E;
    font-size: 32px;
    font-weight: 800;
    line-height: 38.4px;
    width: 580px;
    height: 38px;
}

.historeOurTourText{
    font-family: "Nunito Sans", serif;
    color: #18121E;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    width: 580px;
    height: 81px;
}

.CardContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 580px;
    height: 272px;
}

.costProgrammButton{
    font-family: "Nunito Sans", serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    background-color: #1A3E3E;
    color: #FDFDFD;
    padding: 16px 36px;
    border-radius: 4px;
    max-width: 236px;
}

.miniLabelConttainer{
    display: flex;
    justify-content: space-between;
    width: 580px;
    height: 64px;
}

.miniLabelPictures{
    width: 50px;
    height: 50px;
    border-radius: 4px;
}

.miniLabelTextGroup{
    display: flex;
    flex-direction: column;
    width: 514px;
    height: 64px;
}

.miniLabelTitle{
    font-family: "Nunito Sans", serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
}

.miniLabelDescription{
    font-family: "Nunito Sans", serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.imgGroup{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 510px;
    height: 510px;
}

.bestOfferPicturesOne{
    width: 250px;
    height: 250px;
    border-radius: 0px 50px 0px 50px;
    background-image: url(./img/offerPicturesOne.png);
}

.bestOfferPicturesTwo{
    width: 250px;
    height: 250px;      
    border-radius: 50px 0px 50px 0px;
    background-image: url(./img/offerPicturesTwo.png);
}

.bestOfferPicturesThre{
    width: 250px;
    height: 250px;
    border-radius: 50px 0px 50px 0px;
    background-image: url(./img/offerPicturesThree.png);
}

.bestOfferPicturesFour{
    width: 250px;
    height: 250px;
    border-radius: 0px 50px 0px 50px;
    background-image: url(./img/offerPicturesFour.png);
}